<div class="navbarTransparent">
    <div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
                <!-- Container wrapper -->
                <div class="container-fluid">


                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link nav-brand" href="/">Inicio</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-brand" href="#servicios">Servicios</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-brand" href="#contacto">Contacto</a>
                            </li>

                        </ul>
                    </div>
                    <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->
        </div>
    </div>
</div>
<!-- About-->
<section class="page-section aboutSectionBoot" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-right">
            <div class="col-md-6 text-justify">
                <h2 class="mt-0 boldSete">Zincel Materiales S. de R.L de C.V.</h2>
                <hr class="divider divider-light" />
                <p class="mb-4">Empresa líder en la fabricación, comercializacion y distribución de
                    materiales para construcción. Nuestras actividades también incluyen servicios de construcción y
                    mantenimiento de inmuebles para obras públicas y privadas, así como la asesoría y asistencia técnica
                    en obras arquitectónicas.
                    Los productos que comercializamos y las obras que se construyen son de la más alta calidad, siempre
                    proveemos soluciones efectivas de la mano de nuestros clientes y equipo de trabajo.</p>
                <a class="btn btn-dark btn-xl btnAbout text-white" href="#contacto">Contactar</a>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/logoZincel.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>
<div class="bannerContactoAd">
    <div class="overlayAd">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark btn-lg btn-block"
                        onclick="location.href='#contacto';">Cotiza con nosotros</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="almacenVisionMision">
    <div class="container">
        <div class="row">

            <li class="list-group-item list-group-item-dark">
                <div>
                    <h3 class="boldSete">Compromiso</h3>
                    <p>Nuestro compromiso es impulsar proyectos que desarrollen la integridad del ser humano y la
                        satisfacción con nuestros clientes. Estamos comprometidos a cumplir con las normas y estándares
                        técnicos de aseguramiento.</p>
                </div>
            </li>
        </div> <br>
        <div class="row">
            <li class="list-group-item list-group-item-dark">
                <div>
                    <h3 class="boldSete">Valores</h3>
                    <p>Nuestros valores se basan en tres pilares fundamentales Excelencia, Compromiso y Respeto, para
                        lograr
                        de la mejor manera las necesidades de nuestros clientes, ejecutamos acciones para mejorar las
                        condiciones de nuestra sociedad apoyándonos en un modelo de responsabilidad social fundamentado
                        en
                        el cuidado del medio ambiente.</p>
                </div>
            </li>
        </div>
    </div>
</div> <br> <br> <br>

<div class="servicios" id="servicios">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 servicioUno service serviceBig">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h5 class="titleServicio">
                            Producción de materiales de construcción
                        </h5>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="servicioPara">
                            Estamos comprometidos a desarrollar tecnología propia, fabricación y comercialización de
                            soluciones en construcción a un costo competitivo, otorgamos soluciones a distintos
                            sectores,
                            como son la industrial, comercial, obras públicas, vivienda, salud, entre otros. <br>
                            Nuestros
                            productos incluyen desde herramientas, maquinaria, equipo de seguridad, aditivos,
                            herramienta,
                            envasados, platicos de ingenieria, material de construcción como son: <br> aceros,
                            agregados, madera,
                            blocks entre otros.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-6 servicioDos service">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h5 class="titleServicio">
                            Logística <br> de mercancías
                        </h5>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="servicioPara">
                            Otorgamos servicios integrales en los procesos de almacenamiento, carga, descarga, estiba,
                            desestiba, transporte, distribución, colocación, clasificación, control de almacén,
                            preparación de inventarios, reposición y control de existencias de materiales.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 servicioTres service">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h5 class="titleServicio">
                            Construcción <br> de obras públicas y privadas
                        </h5>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="servicioPara">
                            Zincel Materiales somos una constructora 100% mexicana con cobertura nacional, hemos
                            participado en una gran variedad de proyectos y grandes obras. Tenemos expertos en
                            soluciones innovadoras y asistencia técnica, proveemos a nuestros clientes el soporte y
                            apoyo durante todo el proyecto para lograr los objetivos.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-6 servicioCuatro service">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h5 class="titleServicio">
                            Consultoria y <br> asesoría de obras arquitectónicas
                        </h5>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="servicioPara">
                            Brindamos a nuestros clientes servicios de planeación, estudio y diseño de proyectos
                            arquitectónicos e ingenieria, proporcionamos asistencia y dirección técnica de obras.
                            Tenemos una amplia gama de tecnologías constructivas para el apoyo de proyectos para
                            arquitectos, constructoras, gerencias de proyectos y diseñadores.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="contacto bg-dark" id="contacto">
    <div class="container wheat">
        <h4 class="text-center boldSete">Zincel Materiales S. de R.L de C.V. está para ti</h4> <br>
        <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);" id="myForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input name="name" type="text" class="form-control formInput" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input name="email" type="text" class="form-control formInput" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Número celular</label>
                <input name="number" type="text" class="form-control formInput" id="exampleInputPassword1"
                    placeholder="Número celular" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input formInput" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Acepto política de privacidad</label>
            </div> <br>
            <button type="submit" class="btn btn-light">Enviar</button>
        </form>
    </div>
</div>