<div class="privacidadDiv">
    <div class="privacidadBanner" style="background-color: wheat;">
        <div class="container text-center privacidadContainer titleFont">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 class="privacidadTitle"></h3>
                    <img src="assets/images/logoZincel2.png" class="img-fluid" alt="Responsive image" onclick="location.href='/';">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="container tablePrivacidad">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">¿Quiénes somos?</th>
                    <td><span class="specialEliteFont">Zincel Materiales</span> es el responsable del uso y protección de
                        sus datos personales.</td>
                </tr>
                <tr>
                    <th scope="row">¿Para qué fines utilizaremos sus datos personales?</th>
                    <td>Los datos personales que recabamos de usted, los utilizaremos para la validación de métodos de
                        pagos, contacto de clientes o cualquier derivado del hecho de
                        participar entregarnos tu información por interés en nuestros servicios.</td>
                </tr>
                <tr>
                    <th scope="row">¿Dónde puedo consultar el aviso de privacidad integral?</th>
                    <td>Para conocer más información sobre los términos y condiciones en que serán tratados sus datos
                        personales, y la forma en que podrá ejercer sus derechos ARCO, puede consultar el aviso de
                        privacidad integral.</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p>
            <span class="specialEliteFont">Zincel Materiales</span> es el responsable del uso y protección de sus datos
            personales. Al respecto le informamos lo
            siguiente.
        </p>
        <p>
            Los datos personales recabados de identificación, contacto, laborales y patrimoniales se utilizarán para la
            validación de métodos de pagos, contacto de clientes o cualquier derivado del hecho de dejar sus datos por
            interés en nuestros servicios.
        </p>
        <p>
            Usted tiene derecho de acceso para conocer los datos personales que <span class="specialEliteFont">Zincel Materiales</span> tiene de usted, la finalidad
            para la que son utilizados y las condiciones del uso que se les da. Asimismo, en protección al derecho de
            rectificación, es su derecho solicitar la corrección de su información personal en caso de que esté
            desactualizada, sea inexacta o incompleta; tiene el derecho de cancelación, por lo que puede solicitar que
            se elimine su información de nuestros registros o bases de datos cuando considere que la misma no está
            siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa; así como el
            derecho de oponerse al uso de sus datos personales para fines específicos. Estos derechos son los
            denominados derechos ARCO.
        </p>
        <p>
            Usted tiende derecho para revocar el consentimiento que ha otorgado para el tratamiento de sus datos
            personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos se podrá atender su
            solicitud o concluir el uso de forma inmediata, ya que es posible que por obligación legal requiramos seguir
            tratando sus datos personales. Asimismo, usted deberá considerar que, para ciertos fines, la revocación del
            consentimiento implicará la suspensión del servicio que solicitó, o la conclusión de su relación con <span
                class="specialEliteFont">Zincel Materiales</span>.
        </p>
        <p>
            Así mismo, usted tiene derecho a limitar el uso y divulgación de su información para que no sean tratados
            con fines mercadotécnicos, publicitarios o de prospección comercial por parte de <span
                class="specialEliteFont">Zincel Materiales</span>.
        </p>
        <p>
            Para conocer el procedimiento y requisitos del ejercicio de cualquiera de los derechos ARCO, revocación del
            consentimiento o limitación de uso y divulgación de sus datos puede comunicarse a través del correo
            electrónico info@grupocapitalsatelite.com, en el cual se atenderá cualquier duda que surja respecto al
            tratamiento
            de su información.
        </p>
        <p>
            Le informamos que utilizamos cookies, web beacons y otras tecnologías a través de las cuales es posible
            monitorear su comportamiento como usuario de Internet, con la finalidad de brindarle un mejor servicio y
            experiencia de usuario al navegar en nuestra página, así como enviarle promociones, novedades sobre la
            convocatoria y recordatorios a los participantes. Podrá deshabilitar esta función
            desde la configuración de su equipo de sitios web.
        </p>
        <p>
            El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
            requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de
            nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas. Los cambios
            que pueda sufrir el presente aviso de privacidad se le darán a conocer a través de la misma página de
            internet.
        </p>
        <p>
            Última actualización 16 de diciembre de 2021.
        </p>

    </div>
</div>